
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>This is Index Method of Home Controller--> @ViewData["data"]</h2>
    </div>
    <a href="/Home/Logout">Logout</a>
</body>
</html>
